<div class="both-sides">
    <div class="left-side">
        <h1>Create your best writing in a <br> constructive and flexible environment</h1>
        <ul class="login-list">
            <div class="list-div">
                <img class="style-image" src="../../assets/images/post.svg" alt="Stylistic image">
                <li class="style-list">View the best writing the web has to offer</li><br>
            </div>
            <div class="list-div">
                <img class="style-image" src="../../assets/images/rating.svg" alt="Stylistic image">
                <li class="style-list">Follow writers and rate their posts</li><br>
            </div>
            <div class="list-div">
                <img class="style-image" src="../../assets/images/profile.svg" alt="Stylistic image">
                <li class="style-list">Accumulate ratings as you build your profile</li><br>
            </div>
        </ul>
    </div>
    <div class="right-side">
        <h3>New Here?</h3>
        <div class="sign-up">
            <form class="form" (ngSubmit)="addUser()">
                <input class="sign-up-input" type="input" name="FirstName" [(ngModel)]="user.FirstName"
                    pattern="[a-zA-Z ]*" placeholder="First Name" /><br>
                <input class="sign-up-input" type="input" name="LastName" [(ngModel)]="user.LastName"
                    placeholder="Last Name" /><br>
                <input class="sign-up-input" type="email" name="Email" [(ngModel)]="user.Email"
                    placeholder="Email" /><br>
                <input class="sign-up-input" type="input" name="Username" [(ngModel)]="user.Username"
                    placeholder="Username" /><br>
                <input class="sign-up-input" type="input" name="Location" [(ngModel)]="user.Location"
                    placeholder="Location" /><br>
                <input id="password" class="sign-up-input" type="password" name="Password" [(ngModel)]="pass.Pass"
                    placeholder="Password" /><br>
                <input class="sign-up-input" type="password" name="ConfirmPassword" [(ngModel)]="pass.ConfirmPass"
                    placeholder="Confirm Password" /><br>
                <input type="file" (change)="onUploadChange($event)" accept=".png, .jpg, .jpeg, .pdf" />
                <input class="sign-up-btn" type="submit" value="Submit" />
            </form>
        </div>
        <h3>Already a Member?</h3>
        <div class="login">
            <form class="form" (ngSubmit)="login()">
                <input class="login-input" type="email" name="Email" [(ngModel)]="loginModel.Email" placeholder="Email">
                <input class="login-input" type="password" name="Password" [(ngModel)]="loginModel.Password"
                    placeholder="Password">
                <input class="login-btn" type="submit" value="Login" routerLink="/login" />
            </form>
        </div>
    </div>
</div>