<form class="form" (ngSubmit)="submitPosts()">
    <h1 class="main-heading">Create a new post!</h1>
    <h2 class="create-post-heading">Post Title:</h2>
    <textarea rows="1" class="title-box" id="title" name="Title" [(ngModel)]="postToCreate.Title"
        placeholder="Post title"></textarea>
    <h2 class="create-post-heading">Post Content:</h2>
    <textarea class="message-box" type="text" id="message" name="Message" [(ngModel)]="postToCreate.Message"
        placeholder="Start your post!"></textarea>
    <input type="submit" value="Submit" class="submit-post">
</form>
<div class="post-container">
    <ul class="post-structure" *ngFor="let post of posts; let i = index;">
        <h2 name="" class="title"> {{ post.title }}</h2>
        <p class="message">{{ post.message }}</p>
        <div class="utility-container">
            <form (ngSubmit)="viewComments(post.id)">
                <input class="view-comment" type="submit" value="View Comments">
                <ng-container *ngFor="let comment of comments">
                    <div class="comments-container" *ngIf="comment.postId == post.id">
                        <p class="comment-message">{{ comment.message }}</p>
                    </div>
                </ng-container>
            </form>
            <form (ngSubmit)="submitComment(post.id)">
                Post a Comment: <input class="comment-box" name="Message" [(ngModel)]="commentToCreate.Message"
                    placeholder="add a comment...">
                <input class="post-comment" type="submit" value="Submit"><br>
            </form>
            <!-- <form class="" (ngSubmit)="submitRating()">
                <h3>Rate this Post!</h3>
                <select name="Value" [(ngModel)]="postRating.Value">
                    <option value="0">0</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                </select>
                <input type="submit" value="Submit" class="submit-rating">
            </form> -->
            <button (click)="deleteMyPost(post)" class="delete-button" type="submit">Delete Post</button>
        </div>
    </ul>
</div>